@model Chart.Models.Course

@{
    ViewData["Title"] = Model.title;
}

<div class="container">
    <h1>@Model.title</h1>
    <img src="@Url.Content(Model.image)" class="img-fluid" alt="@Model.title" />
    <p>@Model.description</p>

    <h2>Video Khóa Học</h2>
    @foreach (var video in Model.Videos)
    {
        <div class="mb-3">
            <h5>@video.Title</h5>
            <video controls class="w-100">
                <source src="@Url.Content(video.VideoUrl)" type="video/mp4">
                Trình duyệt của bạn không hỗ trợ video.
            </video>
        </div>
       
    }
</div>
